<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="stylesheet" th:href="@{/style.css}">
    <script th:src="@{/basic.js}" type="text/javascript"></script>
    <title>나만의 셀렉샵</title>
</head>
<body>
<div class="header" style="position:relative;">
    <!--headr 추가 부분-->
    <div th:if="${username != '' }">
        <div id="header-title-login-user">
            <span th:text="${username}"></span> 님의
        </div>
        <div id="header-title-select-shop">
            Select Shop
        </div>
    </div>
    <div th:unless="${username != ''}">
        <div id="header-title-select-shop">
            Select Shop
        </div>
        <a href="/api/user/signup" id="sign-text">
            회원가입
        </a>
        <a href="/api/user/login" id="login-text">
            로그인
        </a>
    </div>

    <!--/headr 추가 부분-->
</div>
<div class="nav">
    <div class="nav-see active">
        모아보기
    </div>
    <div class="nav-search">
        탐색하기
    </div>
</div>
<div id="see-area">
    <div id="product-container">
        <div class="product-card" onclick="window.location.href='https://spartacodingclub.kr'">
            <div class="card-header">
                <img alt=""
                     src="https://shopping-phinf.pstatic.net/main_2085830/20858302247.20200602150427.jpg?type=f300">
            </div>
            <div class="card-body">
                <div class="title">
                    Apple 아이폰 11 128GB [자급제]
                </div>
                <div class="lprice">
                    <span>919,990</span>원
                </div>
                <div class="isgood">
                    최저가
                </div>
            </div>
        </div>
    </div>
</div>
<div id="search-area">
    <div>
        <input id="query" type="text">
    </div>
    <div id="search-result-box">
        <div class="search-itemDto">
            <div class="search-itemDto-left">
                <img alt=""
                     src="https://shopping-phinf.pstatic.net/main_2399616/23996167522.20200922132620.jpg?type=f300">
            </div>
            <div class="search-itemDto-center">
                <div>Apple 아이맥 27형 2020년형 (MXWT2KH/A)</div>
                <div class="price">
                    2,289,780
                    <span class="unit">원</span>
                </div>
            </div>
            <div class="search-itemDto-right">
                <img alt="" onclick='addProduct()' src="/images/icon-save.png">
            </div>
        </div>
    </div>
    <div class="popup-container" id="container">
        <div class="popup">
            <button class="close" id="close">
                X
            </button>
            <h1>⏰최저가 설정하기</h1>
            <p>최저가를 설정해두면 선택하신 상품의 최저가가 떴을 때<br/> 표시해드려요!</p>
            <div>
                <input id="myprice" placeholder="200,000" type="text">원
            </div>
            <button class="cta" onclick="setMyprice()">설정하기</button>
        </div>
    </div>
</div>
</body>
</html>